anyio==4.12.0
beautifulsoup4==4.14.3
blinker==1.9.0
css-html-js-minify==2.5.5
docutils==0.22.3
feedgenerator==2.2.1
ghp-import==2.1.0
html5lib==1.1
idna==3.11
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ordered-set==4.1.0
pelican==4.11.0.post0
pelican-rstfootnotes @ https://github.com/jwierzbi/pelican-rstfootnotes/releases/download/0.0.3/pelican_rstfootnotes-0.0.3-py3-none-any.whl#sha256=c034bc5a061992e5cdaa490f740617f216a22482b6f77891e07664481586d45a
pelican-seo==1.4.0
pelican-sitemap==1.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
rich==14.2.0
six==1.17.0
soupsieve==2.8
typing_extensions==4.15.0
Unidecode==1.4.0
watchfiles==1.1.1
webencodings==0.5.1
