beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
css-html-js-minify==2.5.5
docutils==0.17.1
feedgenerator==1.9.1
Jinja2==3.0.0
MarkupSafe==2.0.0
pelican==4.6.0
pelican-seo==1.2.1
Pygments==2.9.0
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
soupsieve==2.2.1
Unidecode==1.2.0
