beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
css-html-js-minify==2.5.5
docutils==0.16
feedgenerator==1.9.1
Jinja2==2.11.3
MarkupSafe==1.1.1
pelican==4.5.4
pelican-seo==1.0.3
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2020.5
six==1.15.0
soupsieve==2.2
Unidecode==1.2.0
