@font-face {
  font-family: 'Iosevka Term Slab';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/iosevka-term-slab-regular.woff');
}

html, body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background: #F0F2F4;
}
.hero-body {
  background-color: #fafafa;
}
.articles .content p {
  line-height: 1.9;
  margin: 15px 0;
  text-align: justify;
}
.articles .paginator {
  margin-top: 3rem;
  text-align: center;
}
.article-header {
  margin-top: 3rem;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}
.article-subtitle {
  color: #909AA0;
  margin-bottom: 3rem;
}
.article-body {
  line-height: 1.4;
  margin: 3rem 0rem;
}

.highlight pre {
  font-family: 'Iosevka Term Slab', monospace;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

.social {
  margin: 10px;
}
.social a {
  margin: 10px;
}