{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block description -%}
  {% if page.description -%}
    {{page.description}}
  {%- else -%}
    {{ super() }}
  {%- endif %}
{% endblock description %}

{% block head %}
{{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block header %}{% endblock header %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">{{ page.title }}</h2>
  {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

  {% if page.modified %}
    <p>Last updated: {{ page.locale_modified }}</p>
  {% endif %}
  </div>
</section>
{% endblock %}