@charset "utf-8";

$black:         hsl(0, 0%, 100%) !default;
$black-bis:     hsl(0, 0%, 98%) !default;
$black-ter:     hsl(0, 0%, 96%) !default;

$grey-darker:   hsl(0, 0%, 93%) !default;
$grey-dark:     hsl(0, 0%, 86%) !default;
$grey:          hsl(0, 0%, 71%) !default;
$grey-light:    hsl(0, 0%, 48%) !default;
$grey-lighter:  hsl(0, 0%, 29%) !default;
$grey-lightest: hsl(0, 0%, 21%) !default;

$white-ter:     hsl(0, 0%, 14%) !default;
$white-bis:     hsl(0, 0%, 7%) !default;
$white:         hsl(0, 0%, 4%) !default;

$orange:        hsl(14,  100%, 53%) !default;
$yellow:        hsl(44,  100%, 77%) !default;
$green:         hsl(153, 53%,  53%) !default;
$turquoise:     hsl(171, 100%, 41%) !default;
$cyan:          hsl(207, 61%,  53%) !default;
$blue:          hsl(229, 53%,  53%) !default;
$purple:        hsl(271, 100%, 71%) !default;
$red:           hsl(348, 86%, 61%) !default;

$body-background-color: #1e1e1e;

// common styles
@import "_common.scss";

// Pygment
@import "_pygments-dark.scss";

// some dark/light specific classes
.social {
    .facebook-icon {
        color: #4267b2;
    }
    .twitter-icon {
        color: #1da1f2;
    }
    .linkedin-icon {
        color: #0077b5;
    }
    .github-icon, .instagram-icon {
        color: #fff;
    }
}
