@charset "utf-8";

// override Bulma variables

$body-background-color: #f0f2f4;

// common styles
@import "_common.scss";

// Pygment
@import "_pygments-light.scss";

// some dark/light specific classes
.social {
    .facebook-icon {
        color: #4267b2;
    }
    .twitter-icon {
        color: #1da1f2;
    }
    .linkedin-icon {
        color: #0077b5;
    }
    .github-icon, .instagram-icon {
        color: #000;
    }
}
